/* 
    Document   : form
    Created on : Sep 23, 2011, 3:06:35 PM
    Author     : diemarc
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}
div.error{
    background-color:#FFF;
    border: 1px solid #FF1111;
    margin:5px auto;
    padding:5px 5px 5px 25px;
    width:400px;
    background-image: url('/src/img/close.png');
    background-repeat: no-repeat;
    background-position: 5px 5px
}
.form {
    border:1px solid #000033;
    width:80%;
    padding:10px;
    margin:10px;
    background-color: #fff;

}
.form legend{
    color:#0055bb;
    font-weight:bold;
    font-size:14px;
   
}
.form ol{
    list-style:none;
}
.form ol li{
    padding:1px;
}
.form ol li label{
    color: #000044; 
    width:220px;
    float:left;
    text-align:left;
}
.form input[type=text] {
    border:1px solid #CCCCCC;
}
.form input.btn {
    padding:3px;
    color:#FFFFFF;
    background-color:#990000;
    border:1px solid #000000;
}
.form select {
    border:1px solid #CCCCCC;
    width:auto;
}

/*search form*/

#form_search {
    border:1px solid #0055bb;
    padding:5px;
    margin:5px;
    background-color: #f1efef;
}
#form_search legend{
    color:#0055bb;
    font-weight:bold;
    font-size:14px;
}
#form_search ol{
    list-style:none;
}
#form_search ol li{
    padding:1px;
}
#form_search ol li label{
    width:150px;
    float:left;
    text-align:left;

}
#form_search input[type=text] {
    border:1px solid #CCCCCC;
}
#form_search input[type=submit] {
    padding:4px;
    color:#fff;
    background-color:#0055bb;
    border:1px solid #0055bb;
    cursor: pointer;
}
#form_search input[type=button] {
    padding:4px;
    color:#fff;
    background-color:#0055bb;
    border:1px solid #0055bb;
    cursor: pointer;
}
#form_search select {
    border:1px solid #CCCCCC;
    width:auto;
}


/*large form*/
/* formularios largos */

#form_large {
    border:1px solid #0055bb;
    width:90%;
    padding:10px;
    margin:10px;

}
#form_large legend{
    color:#0055bb;
    font-weight:bold;
    font-size:14px;
    
}
#form_large ol{
    list-style:none;
}
#form_large ol li{
    padding-bottom:5px;
}
#form_large ol li label{
    width:60%;
    color: #000044;
    float:left;
    text-align:left;
    border-bottom: 1px solid #CCC;
}
#form_large input[type=text] {
    border:1px solid #000;
    background-color: #C3D6FC; 
}
#form_large input.btn {
    padding:3px;
    color:#FFFFFF;
    background-color:#990000;
    border:1px solid #000000;
}
#form_large select {
    border:1px solid #CCCCCC;
    width:auto;
}
#form_large tbody tr td {
    border-bottom: 1px dotted #CCC;
    font-size: 12px;

}



/* formularios contactar */





#form_conta {
    border:1px solid #0055bb;
    width:70%;
    padding:10px;
    margin:0 auto;
    background-color: #e6eef0;

}
#form_conta legend{
   
    width: 6em;
    margin: 0 .5em 0 0;
    color:#0055bb;
    font-weight:bold;
    font-size:14px;
}
#form_conta ol{
    list-style:none;
}
#form_conta ol li{
    padding-bottom:5px;
}
#form_conta ol li label{
    width:150px;
    float:left;
    text-align:left;
}
#form_conta input[type='text'] {
    border:1px solid #CCCCCC;
}
#form_conta textarea {
    border:1px solid #CCCCCC;
}
#form_conta input[type='submit'] {
    padding:4px;
    color:#fff;
    background-color:#0066ff;
    border:1px solid #0055bb;
    cursor: pointer;
    float:right;
}
#form_conta input[type='submit']:hover {
    font-weight: bold;
}
#form_conta select {
    border:1px solid #CCCCCC;
    width:auto;
}


/* form de login */

#form_login {
    border:1px solid #CCC;
    width:25%;
    padding:10px;
    margin:10px;

}
#form_login legend{
    color:#0055bb;
    font-weight:bold;
    font-size:14px;
}
#form_login ol{
    list-style:none;
}
#form_login ol li{
    padding-bottom:5px;
}
#form_login ol li label{
    width:50px;
    float:left;
    text-align:left;
}
#form_login input[type=text] {
    border:1px solid #CCCCCC;
}
#form_login input[type=password] {
    border:1px solid #CCCCCC;
}
#form_login input[type=submit] {
    padding:4px;
    color:#fff;
    background-color:#0066ff;
    border:1px solid #0055bb;
    cursor: pointer;
}
#form_login input[type=submit]:hover {
    font-weight: bold;
}
#form_large select {
    border:1px solid #CCCCCC;
    width:auto;
}
#form_large tbody tr td {
    border-bottom: 1px dotted #CCC;
    font-size: 12px;

}
